In [6]:
import pymysql
from sqlalchemy import create_engine
import pandas as pd
import getpass  # To get the password without showing the input

In [7]:
password = getpass.getpass()
connection_string = 'mysql+pymysql://root:'+password+'@localhost/sakila'
engine = create_engine(connection_string)

In [8]:

query="SELECT COUNT(DISTINCT last_name) \
    FROM sakila.actor;"
pd.read_sql_query(query, engine)

   COUNT(DISTINCT last_name)
0                        121

In [9]:
query="SELECT rental_date, \
    MONTH(rental_date) AS 'month', \
    WEEKDAY(rental_date) AS 'weekday', \
    CASE\
        WHEN WEEKDAY(rental_date)>4 THEN 'weekend' \
        ELSE 'workday'\
    END AS 'day_type'\
    FROM sakila.rental;"
pd.read_sql_query(query, engine)

              rental_date  month  weekday day_type
0     2005-05-24 22:53:30      5        1  workday
1     2005-05-24 22:54:33      5        1  workday
2     2005-05-24 23:03:39      5        1  workday
3     2005-05-24 23:04:41      5        1  workday
4     2005-05-24 23:05:21      5        1  workday
...                   ...    ...      ...      ...
16039 2006-02-14 15:16:03      2        1  workday
16040 2006-02-14 15:16:03      2        1  workday
16041 2006-02-14 15:16:03      2        1  workday
16042 2006-02-14 15:16:03      2        1  workday
16043 2006-02-14 15:16:03      2        1  workday

[16044 rows x 4 columns]

In [10]:
query="select *\
    from sakila.film\
    where title like '%ARMAGEDDON%';"
pd.read_sql_query(query, engine)

ValueError: unsupported format character 'A' (0x41) at index 51

In [11]:
query="select *\
    from sakila.film\
    order by length desc\
    limit 10;"
pd.read_sql_query(query, engine)

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,817,SOLDIERS EVOLUTION,A Lacklusture Panorama of a A Shark And a Pion...,2006,1,None,7,4.99,185,27.99,R,"Trailers,Commentaries,Deleted Scenes,Behind th...",2006-02-15 05:03:42
1,872,SWEET BROTHERHOOD,A Unbelieveable Epistle of a Sumo Wrestler And...,2006,1,None,3,2.99,185,27.99,R,Deleted Scenes,2006-02-15 05:03:42
2,141,CHICAGO NORTH,A Fateful Yarn of a Mad Cow And a Waitress who...,2006,1,None,6,4.99,185,11.99,PG-13,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
3,991,WORST BANGER,A Thrilling Drama of a Madman And a Dentist wh...,2006,1,None,4,2.99,185,26.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
4,349,GANGS PRIDE,A Taut Character Study of a Woman And a A Shar...,2006,1,None,4,2.99,185,27.99,PG-13,Behind the Scenes,2006-02-15 05:03:42
5,212,DARN FORRESTER,A Fateful Story of a A Shark And a Explorer wh...,2006,1,None,7,4.99,185,14.99,G,Deleted Scenes,2006-02-15 05:03:42
6,426,HOME PITY,A Touching Panorama of a Man And a Secret Agen...,2006,1,None,7,4.99,185,15.99,R,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42
7,609,MUSCLE BRIGHT,A Stunning Panorama of a Sumo Wrestler And a H...,2006,1,None,7,2.99,185,23.99,G,Deleted Scenes,2006-02-15 05:03:42
8,182,CONTROL ANTHEM,A Fateful Documentary of a Robot And a Student...,2006,1,None,7,4.99,185,9.99,G,Commentaries,2006-02-15 05:03:42
9,690,POND SEATTLE,A Stunning Drama of a Teacher And a Boat who m...,2006,1,None,7,2.99,185,25.99,PG-13,"Trailers,Commentaries,Behind the Scenes",2006-02-15 05:03:42

In [12]:
query="select count(*)\
    from sakila.film\
    where special_features like '%Behind the Scenes%';"
pd.read_sql_query(query, engine)

ValueError: unsupported format character 'B' (0x42) at index 69

In [13]:
query="select rating, round(avg(length),2) as avg_length\
    from sakila.film\
    group by rating\
    having avg_length > 120\
    order by rating asc;"
pd.read_sql_query(query, engine)

  rating  avg_length
0  PG-13      120.44

In [14]:
query="select title, length,\
        rank() over (\
            order by length desc) as 'rank'\
    from sakila.film\
    where not (length is null) and\
        (length > 0)\
    order by length desc;"
pd.read_sql_query(query, engine)

                   title  length  rank
0          CHICAGO NORTH     185     1
1         CONTROL ANTHEM     185     1
2         DARN FORRESTER     185     1
3            GANGS PRIDE     185     1
4              HOME PITY     185     1
..                   ...     ...   ...
995         ALIEN CENTER      46   996
996            IRON MOON      46   996
997        KWAI HOMEWARD      46   996
998     LABYRINTH LEAGUE      46   996
999  RIDGEMONT SUBMARINE      46   996

[1000 rows x 3 columns]